doctype html

html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href="/css/edit.css")
		title DECtalk Editor
		style#zoomcss .time { width: 10px; }
	body
		nav
			input#zoom(type="range" min="1" max="200" value="10" oninput="zoom(this);")
		main
			#timeline
				.line
					.time 10ms
					.time 20ms
					.time 30ms
				.line
					.time [sa]
					.time [sa]
					.time [sa]
				.line
					.time [sa]
					.time [sa]
					.time [sa]
				.line
					.time [sa]
					.time [sa]
					.time [sa]
		footer
			script(src="/js/zoom.js")
			
